In [1]:
import numpy as np
import pandas as pd

from numpy.random import randn

np.random.seed(101)

df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [3]:
booldf = df > 0

In [4]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
 df['W'] > 0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [8]:
df[df['W']> 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [9]:
df[df['Z']<0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [10]:
resultdf = df[ df['W'] > 0]

In [11]:
resultdf['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [13]:
# One Liner

df[df['W'] > 0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [17]:
# Multi Liner for better understanding

boolser = df['W']>0
result = df[boolser]
cols = ['X', 'Y']
result[cols]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [22]:
# We cannot use 'and' condition we have to use '&'
df[(df['W'] > 0) & (df['Y'] > 1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [25]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [29]:
newind = 'RJ MH GJ KA JK'.split()

In [30]:
newind

['RJ', 'MH', 'GJ', 'KA', 'JK']

In [31]:
df['States'] = newind

In [32]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     RJ
B  0.651118 -0.319318 -0.848077  0.605965     MH
C -2.018168  0.740122  0.528813 -0.589001     GJ
D  0.188695 -0.758872 -0.933237  0.955057     KA
E  0.190794  1.978757  2.605967  0.683509     JK

In [33]:
df.set_index('States')

               W         X         Y         Z
States
RJ      2.706850  0.628133  0.907969  0.503826
MH      0.651118 -0.319318 -0.848077  0.605965
GJ     -2.018168  0.740122  0.528813 -0.589001
KA      0.188695 -0.758872 -0.933237  0.955057
JK      0.190794  1.978757  2.605967  0.683509