In [7]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [16]:
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [17]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [18]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [19]:
df = pd.DataFrame(randn(6,2), hier_index,['A','B'])
df

             A         B
G1 1 -0.167583 -1.012318
   2 -0.965069 -0.762488
   3  0.572399  1.633266
G2 1  1.359358  0.483246
   2  1.261212  0.519148
   3  0.129204 -0.193519

In [22]:
# df.loc['G1'].loc[1]
df.loc['G1']

          A         B
1 -0.167583 -1.012318
2 -0.965069 -0.762488
3  0.572399  1.633266

In [24]:
df.index.names = ['Groups', 'Num']

In [25]:
df

                   A         B
Groups Num
G1     1   -0.167583 -1.012318
       2   -0.965069 -0.762488
       3    0.572399  1.633266
G2     1    1.359358  0.483246
       2    1.261212  0.519148
       3    0.129204 -0.193519

In [29]:
df.loc['G2'].loc[1]['A']

1.3593579635005029

In [30]:
df

                   A         B
Groups Num
G1     1   -0.167583 -1.012318
       2   -0.965069 -0.762488
       3    0.572399  1.633266
G2     1    1.359358  0.483246
       2    1.261212  0.519148
       3    0.129204 -0.193519

In [31]:
df.loc['G1']

            A         B
Num
1   -0.167583 -1.012318
2   -0.965069 -0.762488
3    0.572399  1.633266

In [32]:
df.xs('G1')

            A         B
Num
1   -0.167583 -1.012318
2   -0.965069 -0.762488
3    0.572399  1.633266

In [33]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.167583 -1.012318
G2      1.359358  0.483246