In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [6]:
d

{'a': 10, 'b': 20, 'c': 30}

In [8]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [14]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [15]:
ser1 = pd.Series([1,2,3,4], ['India', 'Sri Lanka', 'Thailand', 'Bali'])
ser1

India        1
Sri Lanka    2
Thailand     3
Bali         4
dtype: int64

In [25]:
ser2 = pd.Series([1,2,3,4], ['India', 'Dubai', 'Saudi Arabia', 'Qatar'])
ser2

India           1
Dubai           2
Saudi Arabia    3
Qatar           4
dtype: int64

In [26]:
ser1['India']

1

In [27]:
ser3 = pd.Series(data=labels)

In [28]:
ser3

0    a
1    b
2    c
dtype: object

In [29]:
ser3[2]

'c'

In [30]:
ser1 + ser2

Bali            NaN
Dubai           NaN
India           2.0
Qatar           NaN
Saudi Arabia    NaN
Sri Lanka       NaN
Thailand        NaN
dtype: float64